[submodule "src/external/rosaria"]
	path = src/external/rosaria
	url = https://github.com/amor-ros-pkg/rosaria.git
[submodule "src/external/amr-ros-config"]
	path = src/external/amr-ros-config
	url = https://github.com/MobileRobots/amr-ros-config.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "src/external/usb_cam"]
	path = src/external/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
