<launch>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find amigobot_2dnav)/office1.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find amigobot_2dnav)/launch/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="/cmd_vel" to="/RosAria/cmd_vel"/>
    <rosparam file="$(find amigobot_2dnav)/yaml/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find amigobot_2dnav)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find amigobot_2dnav)/yaml/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find amigobot_2dnav)/yaml/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find amigobot_2dnav)/yaml/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
