<!-- publish tf messages for the robot -->
<launch>

  <arg name="model" default="$(find amigobot)/urdf/amigobot.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="RosAria" pkg="rosaria" type="RosAria">
  <param name="port" value="10.0.126.15:8101"/>
  </node>

  <include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch"/>

  <node name="webcam_receiver" pkg="web_cam_receiver" type="webcam_receiver.py" />

</launch>
