<!-- copied from https://github.com/ros/urdf_tutorial -->
<launch>

  <arg name="model"         default="$(find amigobot)/urdf/amigobot.urdf.xacro"     doc="path to xacro file" />
  <arg name="gui"           default="false"                                         doc="whether to display a gui to modify the joint values." />
  <arg name="rvizconfig"    default="$(find amigobot)/rviz/urdf.rviz"               doc="path to rviz config file" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
