<!-- show amigobot urdf model; copied from https://github.com/ros/urdf_tutorial -->
<launch>

  <arg name="model"         default="$(find amigobot)/urdf/amigobot.urdf.xacro"     doc="path to xacro file" />
  <arg name="gui"           default="true"                                         doc="whether to display a gui to modify the joint values." />
  <arg name="rvizconfig"    default="$(find amigobot)/rviz/urdf.rviz"               doc="path to rviz config file" />

  <include file="$(find amigobot)/launch/publish_tfs.launch" >
      <arg name="model" value="$(arg model)"/>
  </include>

  <!-- visualization -->
  <node if="$(arg gui)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

</launch>
